 <% post.comments.sort.reverse.each do |comment|%>
  <div class="comment">
    <div>
      <span> <%= comment.user.username %>: </span>
      <%= comment.body%> 
    </div>

    <%= turbo_frame_tag "comment-likes" do %>
     <div class="post-likes" >
        <% if hasLikedComment(comment) %>
          <%= button_to "", post_comment_likes_path(post, comment), params: {likeable_type: "Comment"}, class: "post-actions-unlike", method: :delete%>
        <%else%>
          <%= button_to "", post_comment_likes_path(post, comment), params: {likeable_type: "Comment"}, class: "post-actions-like" %>
        <% end %>
      </div>
    <% end %>
  
  </div>
<%end%>