 <% post.comments.each do |comment|%>
  <div class="comment">
    <div>
      <span> <%= comment.user.username %>: </span>
      <%= comment.body%> 
    </div>

    <div>
      <% if checkIfUserHasLiked(comment) %>
        <%= turbo_frame_tag "post-likes" do %>
          <%= button_to "", post_comment_likes_path(post, comment), class: "post-actions-unlike" , method: :delete%>
        <%end%>
      <%else%>
        <%= turbo_frame_tag "post-likes" do %>
          <%= button_to "", post_comment_likes_path(post, comment), class: "post-actions-like" %>
        <% end %>
      <% end %>
    </div>
  
  </div>
<%end%>