<div class="post" id=<%= "post-#{post.id}"%>>
  <div class="post-author">
    <div class="avatar avatar-<%= rand(1..27) %>"></div>
    <div><%= post.user.email %></div>
  </div>
  <div class="post-body">
    <span><%= post.body %></span>
  </div>

  <div class="post-actions" >
    <div class="post-likes">
    <%= turbo_frame_tag "post-likes" do %>
      <% if hasLikedPost(post) %>
          <%= button_to "", post_likes_path(post), params: {likeable_type: "Post"}, class: "post-actions-unlike" , method: :delete%>
      <%else%>
          <%= button_to "", post_likes_path(post), params: {likeable_type: "Post"}, class: "post-actions-like" %>
      <% end %>
    <% end %>
    </div>
    <div>
      <div class="post-actions-comments" id="post-comments-count"> <%= pluralize(post.comments.count, "comment") %> </div>
    </div>
  </div>

  <div class="post-comments">
    <div id="comment-form">
      <%= render partial: "comments/form", locals: {post: post}%>
    </div>

    <div id="post-comments-list-<%= post.id%>">
      <%= render partial: "comments/list", locals: {post: post}%>
    </div>
  </div>
</div>